@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');


/*TAGS*/
body{
    font-family: 'PT Mono', monospace;
    background: linear-gradient(35deg, black, rgb(46, 37, 37), gray);
    margin-top: 40px;
}


h1{
    text-align: center;
    font: bold;
    color: aliceblue;
    font-size: 250%;
    margin-top: 5%;
         
}
h3{
    text-align: center;
    color: brown;
    font-size: 180%;
}
h2{
    font-size: 200%;
    text-align: center;
    color: aliceblue;
}
footer{
    color: aliceblue;
    text-align: center;
}

a{
    color: aliceblue;
    
}
a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: whitesmoke;
    text-decoration: underline;
}
a:hover{
    color: yellow;
}

/*IDS*/
#grid-container{
    height: 650px; 
    width: 100%;   
    background: linear-gradient(35deg, rgb(49, 49, 104), brown, rgb(44, 34, 34));
    display: grid;
    grid-template-columns: 390px 390px 390px;

}
#piriquita{
    transform: translate(70px, 40px);
    text-align: center;
    color: aliceblue;
            
}
#negao{
    transform: translate(120px, 40px);
    text-align: center;
    color: aliceblue;
}
#media{
    transform: translate(150px, 40px);
    text-align: center;
    color: aliceblue;
}
#afinador{
    transform: translate(70px, 50px);
    text-align: center;
    color: aliceblue;
}
#imc{
    transform: translate(120px, 50px);
    text-align: center;
    color: aliceblue;
}
#gastos{
    transform: translate(150px, 50px);
    text-align: center;
    color: aliceblue;
}
#grid-sobre{
    display: grid;
    grid-template-columns: 390px 390px;
    grid-column-gap: 50px;
    justify-content: center;
      
}
#imgT{
    font-size: 30px;
}
#imgT:hover{
    transform: translateY(8px);    
}
#imgL{
    font-size: 30px;
}
#imgL:hover{
    transform: translateY(8px);    
}
#imgZ{
    font-size: 30px;
}
#imgZ:hover{
    transform: translateY(8px);    
}
#fcc{
    font-size: 30px;
}
#fcc:hover{
    transform: translateY(8px);    
}
#github{
    font-size: 30px;
}
#github:hover{
    transform: translateY(8px); 
}
#email:hover{
    transform: translateY(8px); 
    color: yellow;
}
#contatoImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    width: 100%;
}
#menu{
    float: right; 
    padding: 15px;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
}
#menu a{
    padding: 1px 20px;
}


/*CLASSES*/
.navbar{
    overflow: hidden;
    background-color: rgb(131, 21, 21);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* a mágica que faz com que o grid não fique na frente do menu*/
    height: 50px;
    width: 100%;
}
.navbar a{
    float: right;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 16px 18px;
}
.nav a:hover{
    color: yellow;
}
#contato{
    text-align: center;
    color: aliceblue;
}
.img{
    width: 30px;
}
.item{
    width: 300px;
    height: 200px;
    padding: 20px;
}
@media only screen and (max-width: 720px) {
    h1{
        margin-top: 15px;
    }
    .navbar {
        margin: auto;        
    }
    #menu a{
        padding: 20px 10px;
    }
    #menu {
        display: inline-block;
    }
    #grid-container{
        grid-template-rows: 150px 150px 150px 150px 150px 150px;
        
    }
    #grid-sobre{
    display: grid;
    grid-template-rows: 150px 150px;
    grid-row-gap: 50px;
    justify-content: center;
      
}
    
    
    
}
