@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');



/*TAGS*/
body{
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(35deg, black, rgb(46, 37, 37), gray);
    margin-top: 40px;
}

html{
    scroll-behavior: smooth;
}


h1{
    text-align: center;
    font: bold;
    color: aliceblue;
    font-size: 250%;
    margin-top: 5%;
         
}
h3{
    text-align: center;
    color: brown;
    font-size: 180%;
}
h2{
    font-size: 200%;
    text-align: center;
    color: aliceblue;
}
footer{
    color: aliceblue;
    text-align: center;
}

a{
    color: aliceblue;
    
}
a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: whitesmoke;
    text-decoration: underline;
}
a:hover{
    color: yellow;
}

/*IDS*/

#grid-sobre{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 10px;
    justify-content: center;  
      
}
#imgT{
    font-size: 30px;
}
#imgT:hover{
    transform: translateY(8px);    
}
#imgL{
    font-size: 30px;
}
#imgL:hover{
    transform: translateY(8px);    
}
#imgZ{
    font-size: 30px;
}
#imgZ:hover{
    transform: translateY(8px);    
}
#fcc{
    font-size: 30px;
}
#fcc:hover{
    transform: translateY(8px);    
}
#github{
    font-size: 30px;
}
#github:hover{
    transform: translateY(8px); 
}
#email:hover{
    transform: translateY(8px); 
    color: yellow;
}
#contatoImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    width: 100%;
}

#carouselExampleCaptions{
    text-align: center;
    margin: auto;
}
#contato{
    text-align: center;
    color: aliceblue;
}


/*CLASSES*/
.navbar{
    
    background-color: rgb(131, 21, 21);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* a mágica que faz com que o grid não fique na frente do menu*/
    height: 50px;
    width: 100%;
}
.navbar a{
    float: right;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 1px 18px;
}

.nav a:hover{
    color: yellow;
}

.img{
    width: 30px;
}
.item{
    width: 300px;
    height: 200px;
    padding: 10px;
}
.carousel-inner img {
    margin: auto;
  }
@media only screen and (max-width: 768px) {
    .navbar {
        margin: auto;        
    }
    #menu a{
        padding: 20px 10px;
    }
    #menu {
        display: inline-block;
    }
    
    #grid-sobre{
        display: flexbox;
        grid-template-columns: auto;
        grid-row-gap: 30px;
        padding: 15px;
        margin-top: 20px;
    }
    #contatoImg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #menu{
        padding: 1px;
    }
    #projeto{
        width: 300px;
        height: 300px;
        text-align: center;
        margin: auto;
    }
    .carousel-item{
        width: 200px;
        height: 200px;        
    }
    h1{
        padding: 10px;
    }
    .carousel-item img{
        width: 300px;
        height: 200px;
      }
    
   
}
